body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: roboto, monospace;
}

#header {
    flex: 0 1 4%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.header-links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

#awesome-intro {
    flex: 1 1 23%;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 60px 10vw;
}

.intro-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intro-header {
    font-size: 48px;
    font-weight: 900;
}

.intro-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
}

.intro-button button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#random-info {
    flex: 1 1 23%;
    display: flex;
    flex-direction: column;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trump-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#inspiring-quote {
    flex: 1 1 23%;
    background-color: lightcoral;
}

#call-to-action {
    flex: 1 1 23%;
    background-color: lightsalmon;
}

#footer {
    flex: 0 1 4%;
    background-color: gold;
}